<div class="slider-area slider-style-two">
                <!-- Slider Area Start Here -->
                <div class="slider-activation owl-carousel">
                    <!-- Start Single Slide -->
                    <div class="slide align-center-left fullscreen animation-style-01 bg-image-3" style="background-image:url(/layout/ceres/hs2.jpg)">
                        <div class="slider-progress"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="slider-content">
                                        <h1>Unser Sortiment</h1>
                                        <h2>Markenprodukte zum unschlagbaren Preis!</h2>

                                        <div class="slide-btn small-btn">
                                            <a href="{{ services.category.getURLById(438) }}">Jetzt Einkaufen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                    <!-- Start Single Slide -->
                    <div class="slide align-center-left fullscreen animation-style-02 bg-image-4" style="background-image:url(/layout/ceres/hs1.jpg)">
                        <div class="slider-progress"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="slider-content">
                                        <h1>Lippenstifte</h1>
                                        <h2>Für den perfekten Look!</h2>

                                        <div class="slide-btn small-btn">
                                            <a href="{{ services.category.getURLById(479) }}">Jetzt Einkaufen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                </div>
                <!-- Slider Area End Here -->
            </div>
            <!-- Slider Area End -->
            <!-- Support Area Start Here -->
            <div class="support-area ptb-60">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6 col-sm-6 mb-all-30">
                                <div class="single-support">
                                    <div class="pe-7s-plane icon"></div>
                                    <div class="support-desc">
                                        <h6>Gratis Versand<br />Innerhalb Deutschlands</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6 col-sm-6 mb-all-30">
                                <div class="single-support">
                                    <div class="pe-7s-help2 icon"></div>
                                    <div class="support-desc">
                                        <h6>Telefonischer Support<br />Mo-Fr 10-17 Uhr </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6 col-sm-6 mb-xsm-30">
                                <div class="single-support">
                                    <div class="pe-7s-back icon"></div>
                                    <div class="support-desc">
                                        <h6>14 Tage<br />Rückgaberecht</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6 col-sm-6">
                                <div class="single-support">
                                    <div class="pe-7s-credit icon"></div>
                                    <div class="support-desc">
                                        <h6>Sicher Einkaufen<br />Mit SSL-Verschlüsselung</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Support Area End Here -->



            <!--  Top Banner Area Start -->
            <div class="banner-area">
                <div class="container">
                    <div class="row">
                        <!--  Single Banner Area Start -->
                        <div class="col-lg-4 col-md-4 mb-sm-30">
                            <div class="single-banner zoom">
                                <a href="{{ services.category.getURLById(479) }}">
                                    <img src="/layout/ceres/lippenstifte.jpg" alt="banner-img">
                                </a>
                            </div>
                        </div>
                        <!--  Single Banner Area End -->
                        <!--  Single Banner Area Start -->
                        <div class="col-lg-4 col-md-4 mb-sm-30">
                            <div class="single-banner zoom">
                                <a href="{{ services.category.getURLById(602) }}">
                                    <img src="/layout/ceres/mascara.jpg" alt="banner-img">
                                </a>
                            </div>
                        </div>
                        <!--  Single Banner Area End -->
                        <!--  Single Banner Area Start -->
                        <div class="col-lg-4 col-md-4">
                            <div class="single-banner zoom">
                                <a href="{{ services.category.getURLById(438) }}">
                                    <img src="/layout/ceres/dufte.jpg" alt="banner-img">
                                </a>
                            </div>
                        </div>
                        <!--  Single Banner Area End -->
                    </div>
                </div>
            </div>
            <!--  Top Banner Area End -->
            <!-- New Arrival Products Start Here -->
            <div class="new-arrival no-border-style ptb-90">
                <div class="container">
                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h2>Ausgewählte Angebote</h2>
                        <p>bis zu 30% auf ausgewählte Produkte unter dem Originalpreis</p>
                    </div>
{% include "CeresCoconut::Containers.ItemLists.ItemList2" %}


                </div>
            </div>
            <!-- New Arrival Products End Here -->
            <!--
            <div class="product-bannner">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-6 mb-sm-30">
                            <div class="single-banner home-style-two-banner">
                                <a href="shop.html">
                                    <img class="primary-img" src="/layout/ceres/img/banner/b6.jpg" alt="banner-img">
                                    <img class="secondary-img" src="/layout/ceres/img/banner/b8.png" alt="banner-hover-image">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="single-banner home-style-two-banner">
                                <a href="shop.html">
                                    <img class="primary-img" src="/layout/ceres/img/banner/b7.jpg" alt="banner-img">
                                    <img class="secondary-img" src="/layout/ceres/img/banner/b8.png" alt="banner-hover-image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         -->
