{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}





    <footer class="pb-35">
                <div class="container">
                    <!-- Footer Middle Start -->
                    <div class="footer-middle ptb-90">
                        <div class="row">
                            <!-- Single Footer Start -->
                            <div class="col-lg-4 col-md-6 mb-all-30">
                                <div class="single-footer">
                                    <div class="footer-logo mb-20">
                                        <a href="{{ homepageURL }}"><img class="img" src="/layout/ceres/logohitisy2.svg" alt="logo-img"></a>
                                    </div>
                                    <div class="footer-content">
                                        <ul class="footer-list first-content">
                                            <li><i class="pe-7s-map-marker"></i>Wilhelmstraße 26, 63263 Neu-Isenburg</li>
                                            <li><a href="tel:061023257320"><i class="pe-7s-call"></i>06102 325 73 20</a></li>
                                            <li><a href="mailto:service@hitisy.de"><i class="pe-7s-mail"></i>service@hitisy.de</a></li>
                                            <li class="mt-20">
                                                <ul class="social-icon">
                                                    <li><a href="https://www.facebook.com/Hitisy-121138091924819/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="https://www.instagram.com/hitisy.de/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-6 col-lg-2 col-md-6 mb-all-30">
                                <div class="single-footer">
                                    <div class="single-footer">
                                        <h4 class="footer-title">Rechtliches</h4>
                                        <div class="footer-content">
                                            <ul class="footer-list">
                                                <li><a href="{{ services.category.getURLById(576) }}">AGB</a></li>
                                                <li><a href="{{ services.category.getURLById(578) }}">Impressum</a></li>
                                                <li><a href="{{ services.category.getURLById(582) }}">Datenschutz</a></li>
                                                <li><a href="{{ services.category.getURLById(575) }}">Widerrufsrecht</a></li>
                                                <li><a href="http://www.hitisy.de/layout/widerrufsformular.pdf" target="_blank">Widerrufsformular</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-6 col-lg-2 col-md-6 mb-sm-30">
                                <div class="single-footer">
                                    <div class="single-footer">
                                        <h4 class="footer-title">Info</h4>
                                        <div class="footer-content">
                                            <ul class="footer-list">
                                                <li><a href="{{ services.category.getURLById(579) }}">Hilfe & FAQ</a></li>
                                                <li><a href="{{ services.category.getURLById(583) }}">Versand</a></li>
                                                <li><a href="{{ services.category.getURLById(581) }}">Zahlungsarten</a></li>
                                                <li><a href="{{ services.category.getURLById(647) }}">Jobs</a></li>
                                                <li><a href="{{ urls.contact }}">Kontakt</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-footer">
                                    <div class="single-footer">
                                        <h4 class="footer-title">Newsletter </h4>
                                        <div class="footer-content subscribe-form">
                                            <div class="subscribe-box">
<newsletter-input
:show-name-inputs="{{ showNameInputs }}"
            :show-privacy-policy-checkbox="{{ showPrivacyPolicyCheckbox }}"
            :email-folder="{{ 999 }}">


 </newsletter-input>

                                            </div>
<!--
<p class="mt-10">
Verpassen Sie keine Angebote mehr und erhalten Sie jede Woche aktuelle Informationen mit dem Hitisy-Newsletter per E-Mail.
Sie können den Newsletter jederzeit kostenlos abbestellen.</p>
<p>
xxx
</p>
-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Footer Middle End -->
                   <!-- Footer Bottom Start -->
                    <div class="footer-bottom pt-35">
                        <div class="col-md-12">
                            <div class="row align-items-center justify-content-md-between">
                                <div class="footer-copyright ">
                                    <p>Copyright © {{ "now" | date("Y") }}. Hitisy.de | Alle Rechte vorbehalten.</p>
                                </div>
                                <div class="footer-payment">
<script type="text/javascript">
  (function () {
    var _tsid = 'X478EA80C0576DC547E55CED954F86AF9';
    _tsConfig = {
      'yOffset': '0', /* offset from page bottom */
      'variant': 'reviews', /* default, reviews, custom, custom_reviews */
      'customElementId': '', /* required for variants custom and custom_reviews */
      'trustcardDirection': '', /* for custom variants: topRight, topLeft, bottomRight, bottomLeft */
      'customBadgeWidth': '', /* for custom variants: 40 - 90 (in pixels) */
      'customBadgeHeight': '', /* for custom variants: 40 - 90 (in pixels) */
      'disableResponsive': 'false', /* deactivate responsive behaviour */
      'disableTrustbadge': 'false' /* deactivate trustbadge */
    };
    var _ts = document.createElement('script');
    _ts.type = 'text/javascript';
    _ts.charset = 'utf-8';
    _ts.async = true;
    _ts.src = '//widgets.trustedshops.com/js/' + _tsid + '.js';
    var __ts = document.getElementsByTagName('script')[0];
    __ts.parentNode.insertBefore(_ts, __ts);
  })();
</script>
<a href="https://www.trustami.com/erfahrung/hitisy-de-bewertung" target="_blank" title="Trustami Bewertungen und Erfahrungen von Hitisy GmbH"><img src="https://cdn.trustami.com/img/trustami-logo-text-128.png" style="width: 144px; height: 32px" alt="Trustami Logo" /></a>
<a href="https://www.idealo.de/preisvergleich/Shop/317295.html" target="_blank">
<img src="https://img.idealo.com/folder/Shop/317/2/317295/s1_idealo-partner.png" />
</a>

                                  <img src="/layout/hit/images/paypal.png" alt="payment-img" class="img" height="60px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Bottom End -->
                </div>
            </footer>
