{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}


<header class="header-style-two">
            <!-- Header Top Start Here -->
            <div class="header-top">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="row align-items-center justify-content-between">
                            <!-- Header Top Right Start -->
<div class="header-top-right ">
  <div class="cart-box d-none d-sm-block">
    <ul>
        <li><a href="{{ urls.contact }}"><span><i class="pe-7s-headphones"></i></span></a></li>
        {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
        <wish-list-count>
          <li><a><span><i class="pe-7s-like"></i></span> <span class="total-pro">0</span></a></li>
        </wish-list-count>
        {% endif %}
    </ul>
  </div>
</div>







                            <!-- Header Top Right End -->
                            <!-- Logo Start -->
<div class="logo">
<a href="{{ homepageURL }}"><img src="/layout/ceres/logohitisy.svg" alt="hitisy"></a>
</div>

<div class="cart-box">
<ul>
  <li class="cart-box-right">
  <a href="#"><span><i class="pe-7s-user"></i></span></a>
  <user-login-handler></user-login-handler>
  </li>

  <li><a href="#"><span class="pe-7s-search"></span></a>
  <div class="categorie-search-box ht-dropdown"><item-search template="#vue-item-search"></item-search></div>
  </li>

  <li><a v-toggle-basket-preview href="#">
  <span v-waiting-animation="$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="pe-7s-shopbag"></span>
  <span v-basket-item-quantity="$store.state.basket.data.itemQuantity" class="total-pro">0</span></a>
  </li>
</ul>
</div>
                            <!-- Cart Box End Here -->
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle stick header-sticky">
                <div class="container">
                    <div class="row">
                        <!-- Menu Area Start Here -->
                        <div class="col-lg-12 d-none d-lg-block">

                            <nav>
                                <ul class="header-bottom-list d-flex justify-content-center">
{% include "CeresCoconut::PageDesign.Partials.Header.NavigationList" %}
                                </ul>
                            </nav>
                        </div>
                        <!-- Menu Area End Here -->
                    </div>
                    <!-- Row End -->
                     <!-- Mobile Menu Start Here -->
                    <div class="mobile-menu d-block d-lg-none">
                        <nav>
                            {% include "CeresCoconut::PageDesign.Partials.Header.mobile" %}
                        </nav>
                    </div>
                    <!-- Mobile Menu End Here -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
        </header>






<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "CeresCoconut::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}

<div class="container-max page-header">
    <div class="row mx-0">
        <div id="searchBox" class="cmp cmp-search-box collapse">
            {% set overrideSearchBar = LayoutContainer.show("Ceres::Search.SearchBar") %}
            {% if overrideSearchBar | trim is empty %}
                <item-search template="#vue-item-search"></item-search>
            {% else %}
                {{ overrideSearchBar | raw }}
            {% endif %}
        </div>

        {% if enableCurrencySelect == "true" %}
            <div id="currencySelect" class="cmp cmp-currency-select collapse">
                <div class="container-max">
                    <div class="row py-3">

                        <div class="currency-list col-12">
                            <div class="list-title">
                                <strong>{{ trans("Ceres::Template.headerCurrency") }}</strong>
                                <hr>
                            </div>
                            <ul class="text-center text-sm-left">
                                {% for currency in services.checkout.getCurrencyList() if currency.name in activeCurrencies or activeCurrencies[0] == 'all' or currency.name == services.checkout.getCurrencyData().name %}
                                    <li{% if currency.name == services.checkout.getCurrencyData().name %} class="active"{% endif %}>
                                        <a href="{{ queryString({"currency": currency.name}) }}" rel="nofollow">
                                            {% if currencyFormatSelect == 'all' %}
                                                {{ currency.name }} <br class="d-block d-sm-none" />({{ currency.symbol }})
                                            {% else %}
                                                {{ currency[currencyFormatSelect] }}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <shop-country-settings
                country-flag-prefix="flag-icon-"
                :shipping-countries="{{ services.country.getActiveCountriesList() | filterFields(['id','currLangName', 'isoCode2', 'states.id', 'states.name']) | json_encode }}"
                :shipping-country-id="{{ services.checkout.getShippingCountryId }}">
            <div id="countrySettings" class="cmp cmp-country-settings collapse">
                <div class="container-max">
                    <div class="row py-3">
                        <div class="col-12 col-lg-6">

                            <div class="language-settings">
                                <div class="list-title">
                                    <strong>{{ trans("Ceres::Template.headerSelectLanguage") }}</strong>
                                    <hr>
                                </div>

                                {% set languageList = services.webstoreConfig.getActiveLanguageList() %}
                                {% set languageUrls = services.url.getLanguageURLs() %}
                                <ul>
                                    {% for language in languageList %}
                                        <li{% if lang == language %} class="active"{% endif %}>
                                            <a href="{% if languageUrls[language] is defined %}{{ languageUrls[language] ~ queryString() }}{% elseif language != defaultLanguage %}/{{ language }}{{ urls.trailingSlashSuffix }}{% else %}/{% endif %}" data-update-url>
                                                <i class="flag-icon flag-icon-{{ language }}"></i>
                                                {{ trans("Ceres::Template.header" ~ language | capitalize) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="shipping-settings">
                                <div class="list-title">
                                    <strong>{{ trans("Ceres::Template.headerSelectShippingCountry") }}</strong>
                                    <hr>
                                </div>
                                <shipping-country-select :disable-input="{{ services.template.isCheckout() | json_encode() }}"></shipping-country-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </shop-country-settings>
    </div>
</div>
